{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<form action="/inarea" name="choosearea" method="POST">
<style>
table, th, td {border: 1px solid black;}
</style>
<table>
<tr>
<th>Alueet</th>
<th>Pyynnöt</th>
</tr>
{% for item in areass %}
<tr>
<td><input name="arean" type="submit" value={{ item.area }}></td>
<td>{{ item.request_amount }}</td>
</tr>
{% endfor %}
</table>
</form>
<a href="/create_area">Luo alue</a>
<br>
{% if session.admin == True %}
<a href="/go_admin_menu">Mene admin menuun</a>
<br>
{% endif %}
<a href="/logout">Kirjaudu ulos</a>
{% endif %}