{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<p>{{ areass }}</p>
<form action="/inarea" name="choosearea" method="POST">
<P>Valitse alue:<br>
<select name="arean" type="arean">
    {% for area in areas %}
    <option type ="arean" value= "{{area}}" SELECTED>{{area}}</option>"
    {% endfor %}
</select>
<input type="submit" value="Mene alueelle">
</form>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<form action="/login" method="POST">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
</form>
<form action="/register" method="POST">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Rekisteröidy">
</form>
{% endif %}