{% if session.not_same_password == True%}
Tarkista, että kirjoitit salasanan oikein
{% endif %}
{% if session.user_already_exists == True %}
Käyttäjä on jo olemassa
{% endif %}
{% if session.too_short_username == True %}
Käyttäjänimen minimipituus on 3 merkkiä
{% endif %}
{% if session.too_short_password == True %}
Salasanan minimipituus on 4 merkkiä
{% endif %}
<form action="/register" method="POST">
<p>Tunnus:<br>
<input type="text" name="username" required="required"></p>
<p>Salasana:<br>
<input type="password" name="password" required="required"></p>
<p>Salasana uudestaan:<br>
<input type="password" name="password2" required="required"></p>
<input type="submit" value="Rekisteröidy">
</form>
<a href="/">Palaa takaisin</a>
<br>
<a href="/go_register_admin">Rekisteröi admin käyttäjä</a>